@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-black: #1f262a;
  --off-black: #171717;
  --emerald: #7ebc89;
  --tea-green: #c1dbb3;
  --off-white: #fafdfa;
}

.card-easing {
  transition-timing-function: cubic-bezier(0.83, -0.67, 0.86, 1.29);
}
